body {
    background-color: #151515;
    color: white;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: rgb(46, 46, 46);
    position: sticky;
    top: 0;
}

nav {
    margin-top: 35px;
    margin-left: 10px;
}

nav a {
    margin-right: 10px;
}



#resume-download-button {
    display: inline-block;      
    margin: 2rem auto;   
    width: fit-content;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    text-align: center;
}

#home {
    margin-top: 20px;  
}

#image-text {
    display: flex;
    justify-content: space-between;
}

#home-image {

    width: 200px;
    height 200px;
    border-radius: 50%;
    margin-left: 10px;
}

#special-text {
    margin-right: 20px;
}

.slide {
    display: none;
    padding: 1.5rem;
    background: #2980b9;
    color: #fff;
    border-radius: 10px;

}

.slide.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.slide img {
    width: 100%;
    max-width: 300px;
    border-radius: 0.5rem;
}

.project-text {
    max-width: 500px;
}


.icon-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.icon-row img {
    width: 50px;
    height: auto;
}

.button-style {
    padding: 5px;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
}

.button-wrapper {
    text-align: center;
}


.carousel {
    width: 80%;
    margin: 0 auto;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.center-subtitle {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    #home-image {
        width: 350px;
        height: 350px;
    }   

    #special-text {
        margin-right: 20px;
    }

    #special-text h2 {
        font-size: 2.2rem;
    }

    .center-subtitle h2 {
        font-size: 2rem;
    }
}

@media (min-width: 1440px) {
    #home-image {
        width: 500px;
        height: 500px;
    }   

    #special-text {
        margin-right: 30px;
    }

    #special-text h2 {
        font-size: 5.5rem;
    }

    .center-subtitle h2 {
        font-size: 2rem;
    }
}