body {
    background-color: #151515;
    color: white;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: rgb(46, 46, 46);
    position: sticky;
    top: 0;
}

nav {
    margin-top: 35px;
}

nav a {
    margin-right: 10px;
}


#resume-download-button {
    display: block;      
    margin: 2rem auto;   
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    text-align: center;
}

#home {
    margin-top: 20px;  
}

#image-text {
    display: flex;
    justify-content: space-between;
}

#home-image {
    width: 200px;
    height 200px;
    border-radius: 50%;
    margin-left: 10px;
}

#special-text {
    margin-right: 20px;
}

.slide {
    display: none;
    padding: 1.5rem;
    background: #2980b9;
    color: #fff;
    border-radius: 10px;

}

.slide.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.slide img {
    width: 100%;
    max-width: 300px;
    border-radius: 0.5rem;
}

.project-text {
    max-width: 500px;
}


@media (min-width: 768px) {

}

@media (min-width: 1440px) {
    
}